<div class="container-fluid text-center">


  <%= render "static/account_nav" %>

  <%= render "static/category_nav" %>

  <div class="row homepage_nav">
    <div class="col-xs-2 control">
      <img src="<%= image_url "left_carousel.png" %>" class="img-responsive">
    </div>

    <div class="col-xs-8">
      <img src="<%= image_url "chair_carousel.png" %>" class="img-responsive">
    </div>

    <div class="col-xs-2 control">
      <img src="<%= image_url "right_carousel.png" %>" class="img-responsive">
    </div>    
  </div>

  <div class="row">
    <div class="col-md-8 col-md-offset-2">

      <h1>Latest Articles</h1>

      <hr>
      
      <% @articles.each do |article| %>
        <div class="row homepage_article text-left">
          <div class="col-md-3">
            <img src="http://placehold.it/400x300" class="img-responsive">
          </div>
          <div class="col-md-9">
            <h2 class="title"><%= link_to article.title, article_path(article) %></h2>
            <p class="byline">by <%= article.author %> // <%= article.created_at.to_date %></p>
            <p class="summary"><%= article.content %></p>
          </div>
        </div>

        <hr>
      <% end %>

      <ul class="pagination">
        <li><a href="#">&laquo;</a></li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#">&raquo;</a></li>
      </ul>
    </div>
  </div>



  <%= render "static/ourfooter" %>
</div>