<div class="row category_nav">
  <div class="col-md-2 logo"><img src="<%= image_url "daft_logo.png" %>" class="img-responsive"/></div>
  <div class="col-md-10">
    <ul>
      <li><a href="#"><img src="<%= image_url "nav_tech.png" %>" class="img-responsive"/></a></li>
      <li><a href="#"><img src="<%= image_url "nav_finance.png" %>" class="img-responsive"/></a></li>
      <li><a href="#"><img src="<%= image_url "nav_art.png" %>" class="img-responsive"/></a></li>
      <li><a href="#"><img src="<%= image_url "nav_music.png" %>" class="img-responsive"/></a></li>
      <li><a href="#"><img src="<%= image_url "nav_food.png" %>" class="img-responsive"/></a></li>
      <li><a href="#"><img src="<%= image_url "nav_culture.png" %>" class="img-responsive"/></a></li>
    </ul>
  </div>
</div> <!-- category_nav -->
