<div class="container-fluid">
  <%= render "account_nav" %>

  <%= render "category_nav" %>

  <div class="row category_index">
    <%= render "latest" %>
    <%= render "breaking" %>
  </div> <!-- category_index -->

  <%= render "ourfooter" %>
</div>
