<%= form_for @<%= singular_table_name %>, :html => { :class => "form-horizontal" } do |f| %>
  <% if @<%= singular_table_name %>.errors.any? %>
    <div class="alert alert-danger alert-dismissable">
      <button aria-hidden="true" class="close" data-dismiss="alert" type="button">&times;</button>
      <h4>
        <%= "#{pluralize(@<%= singular_table_name %>.errors.count, "error")} prohibited this <%= singular_table_name %> from being saved:" %>
      </h4>
      <ul>
        <% @<%= singular_table_name %>.errors.full_messages.each do |msg| %>
          <li>
            <%= msg %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
<% end %>
<% for attribute in attributes -%>
<% end -%>
